{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <a href="samples"><h3>Samples</h3></a>
                <div class="panel-group">
                {% for sample, data in metadata['samples'].items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                                <a href="{{ url_for('main.sample', sample_id=data['id']) }}">
                                    <h4 class="panel-title">{{ sample }}</h4>
                                </a>
                                <p>results:  {{ data['log_count'] }} logs, {{ data['artefact_count'] }} artefacts<br />
                                size:  {{ data['file_size'] }} - last modified {{ data['modified'] }}</p>

                            </div>

                        </div>
                        {% endfor %}
                </div>
                <a href="results"><h3>Results</h3></a>
                <div class="panel-group">
                {% for sample, data in metadata['samples'].items() %}
                    {% for tool, tool_data in data['tools'].items() %}
                        {% for artefact in tool_data['artefacts'] %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <a href="{{ url_for('main.result', sample_id=data['id'], tool_name=tool, artefact_id=artefact['id']) }}">
                                    <h4 class="panel-title">{{ artefact['filename'] }}</h4>
                                </a>
                                <p>source:  {{ sample }}</p>
                                <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-5">
                <a href="tools"><h3>Tools</h3></a>
                <div class="panel-group">
                    {% for tool, data in metadata['available_tools'].items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                                <a href="{{ url_for('main.tool', tool_name=tool) }}">
                                    <h4 class="panel-title">{{ tool }}</h4>
                                </a>
                                <p>last updated: {{ data['updated'] }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="tools"><h3>Pipelines</h3></a>
                <div class="panel-group">
                    {% for pipeline, data in metadata['pipelines'].items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                                <a href="{{ url_for('main.pipeline', pipeline_name=pipeline) }}">
                                    <h4 class="panel-title">{{ pipeline }}</h4>
                                </a>
                                <p>last updated: {{ data['modified'] }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

    </div>
</div>

{% endblock %}