{% extends "base.html" %}

{% block content %}
<div class="container w-75">

    <div class="panel panel-default">
        <div class="panel-heading">

            <h4 class="panel-title">{{ artefact['filename'] }}</h4>
            <a class="btn btn-primary"
                href="{{ url_for('main.result_download', sample_id=sample_id, tool_name=tool, artefact_id=artefact['id']) }}"
                role="button">Download</a>

            <p>source:  {{ sample }}</p>
            <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
         </div>
        <div class="panel-body">

            <p>tool: <a href="{{ url_for('main.tool', tool_name=tool) }}">{{ tool }}</a></p>
            <p>source:  <a href="{{ url_for('main.sample', sample_id=sample_id) }}">{{ sample }}</a></p>
            <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
            <p>path: {{ artefact['path'] }}</p>
            <p>MIME: {{ artefact['MIME'] }}</p>
            {% if artefact['contents'] != None %}
                <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                    {% for line in artefact['contents'] %}
                        {{ line }}<br />
                    {% endfor %}
                </div>
            {% endif %}

        </div>


    </div>

</div>
{% endblock %}
