{% extends "base.html" %}


{% block app_content %}
    <h3>Results</h3>
    <div class="row">
        <div class="panel-group col-sm-8" id="accordion" role="tablist" aria-multiselectable="true">
            {% for sample, data in metadata['samples'].items() %}
                {% for tool, tool_data in data['tools'].items() %}
                    {% for artefact in tool_data['artefacts'] %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="artefact{{ data['id'] }}_{{ tool_data['id'] }}_{{ artefact['id'] }}">
                            <a href="{{ url_for('main.result', sample_id=data['id'], tool_name=tool, artefact_id=artefact['id']) }}">
                                <h4 class="panel-title">{{ artefact['filename'] }}</h4>
                            </a>
                            <a class="btn btn-primary pull-right"
                                href="{{ url_for('main.result_download', sample_id=data["id"], tool_name=tool, artefact_id=artefact['id']) }}"
                                role="button">Download</a>
                            <p>source:  {{ sample }}</p>
                            <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                                <button class="btn btn-primary"
                                        role="button"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#preview{{ data['id'] }}_{{ tool_data['id'] }}_{{ artefact['id'] }}"
                                        id="btn{{ data['id'] }}_{{ tool_data['id'] }}_{{ artefact['id'] }}">Preview</button>


                        </div>

                        <div class="panel-collapse collapse"
                             role="tabpanel"
                             aria-labelledby="sample{{ data['id'] }}"
                             id="preview{{ data['id'] }}_{{ tool_data['id'] }}_{{ artefact['id'] }}">
                             <div class="panel-heading">
                                <div class="panel-body">

                                <p>tool: {{ tool }}</p>
                                <p>source:  {{ sample }}</p>
                                <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                                <p>path: {{ artefact['path'] }}</p>
                                <p>MIME: {{ artefact['MIME'] }}</p>
                                {% if artefact['contents'] != None %}
                                    <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                                        {% for line in artefact['contents'] %}
                                            {{ line }}<br />
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                </div>
                             </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
