{% extends "base.html" %}


{% block app_content %}
    <h3>Samples</h3>
    <div class="row">
        <div class="panel-group col-sm-8" id="accordion" role="tablist" aria-multiselectable="true">
            {% for sample, data in metadata['samples'].items() %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                        <a href="{{ url_for('main.sample', sample_id=data['id']) }}">
                            <h4 class="panel-title">{{ sample }}</h4>
                        </a>
                            <a class="btn btn-primary pull-right"
                                href="{{ url_for('main.sample_download', sample_id=data['id']) }}"
                                role="button">Download</a>
                        <p>results:  {{ data['log_count'] }} logs, {{ data['artefact_count'] }} artefacts</p>
                        <p>size:  {{ data['file_size'] }} - last modified {{ data['modified'] }}</p>
                        {% if data['tools']|length > 0 %}
                            <button class="btn btn-primary"
                                    role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#preview{{ data['id'] }}"
                                    id="btn{{ data['id'] }}">Preview</button>
                        {% endif %}
                    </div>

                    <div class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="sample{{ data['id'] }}"
                         id="preview{{ data['id'] }}">
                         <div class="panel-heading">
                            <div class="panel-body">
                                    {% for tool, tool_data in data['tools'].items() %}
                                        <h4>{{ tool }}</h4>
                                        <p>results:</p>
                                        {% for artefact in tool_data['artefacts'] %}
                                            <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                                                <a href="{{ url_for('main.result', sample_id=data['id'], tool_name=tool, artefact_id=artefact['id']) }}">
                                                    <h4 class="panel-title">{{ artefact['filename'] }}</h4>
                                                </a>
                                                <p>source:  {{ sample }}</p>
                                                <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                            </div>
                         </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
