{% extends "base.html" %}

{% block content %}
<div class="container w-75">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ sample }}</h3>
            <a class="btn btn-primary"
                href="{{ url_for('main.sample_download', sample_id=data['id']) }}"
                role="button">Download</a>
            <div class="panel-body">
                {% for tool, tool_data in data['tools'].items() %}
                    <a href="{{ url_for('main.tool', tool_name=tool) }}"><h4>{{ tool }}</h4></a>

                    {% for artefact in tool_data['artefacts'] %}
                        <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                            <a href="{{ url_for('main.result', sample_id=data['id'], tool_name=tool, artefact_id=artefact['id']) }}">
                                <h4 class="panel-title">{{ artefact['filename'] }}</h4>
                            </a>
                            <p>source: {{ sample }}</p>
                            <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
</div>
</div>

{% endblock %}
