{% extends "base.html" %}

{% block content %}
<div class="container w-75">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ tool['name'] }}</h3>
            <div class="panel-body">

                    <p>results:</p>
                    {% for sample, data in artefacts.items() %}
                        {% for artefact in data['artefacts'] %}
                            <div style="border: 1px solid black; padding: 0.5em; margin: 0.5em;">
                                <a href="{{ url_for('main.result', sample_id=data['sample_id'], tool_name=tool['name'], artefact_id=artefact['id']) }}">
                                    <h4 class="panel-title">{{ artefact['filename'] }}</h4>
                                </a>
                                <p>source:  <a href="{{ url_for('main.sample', sample_id=data['sample_id']) }}">{{ sample }}</a></p>
                                <p>size:  {{ artefact['filesize'] }} - last modified {{ artefact['modified'] }}</p>
                            </div>
                        {% endfor %}

                    {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
