{% extends "base.html" %}


{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>Tools</h3>
                <div class="panel-group">
                    {% for tool, data in metadata['available_tools'].items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                                <a href="{{ url_for('main.tool', tool_name=tool) }}">
                                    <h4 class="panel-title">{{ tool }}</h4>
                                </a>
                                <p>last updated: {{ data['updated'] }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5">
                <h3>Pipelines</h3>
                <div class="panel-group">
                    {% for pipeline, data in metadata['pipelines'].items() %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="sample{{ data['id'] }}">
                                <a href="{{ url_for('main.pipeline', pipeline_name=pipeline) }}">
                                    <h4 class="panel-title">{{ pipeline }}</h4>
                                </a>
                                <p>last updated: {{ data['modified'] }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}
